.main {
  width: 805px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

button.logout {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
}

.add-location {
  position: absolute;
  bottom: 20px;
  right: 160px;
  width: 120px;
}
