<div class="main">
    <app-location-card *ngFor="let location of locations" [location]="location"></app-location-card>
</div>


<button class="add-location" mat-raised-button color="primary" (click)="onAddLocation()">Add Location</button>
<button class="logout" mat-raised-button color="secondary" (click)="onLogout()">Logout</button>
