mat-card {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 328px;

  mat-card-content > div {
    line-height: 25px;
    display:flex;

    div {
      font-weight: 600;
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
