<mat-card>
    <mat-card-title>{{location?.name}}</mat-card-title>
    <mat-card-content *ngIf="weather">
        <div>Current temperature:
            <div>{{ weather.main.temp }}</div>
        </div>
        <div>Min temperature:
            <div>{{ weather.main.temp_min }}</div>
        </div>
        <div>Max temperature:
            <div>{{ weather.main.temp_max }}</div>
        </div>
        <div>Humidity:
            <div>{{ weather.main.humidity }}</div>
        </div>
    </mat-card-content>
</mat-card>
