.mat-card {
  width: fit-content;
  margin: auto;
  top: 200px;

  .mat-card-content {
    display: flex;
    flex-direction: column;
  }

  .mat-card-footer {
    padding: 10px;
    text-align: center;
  }
}
