<mat-card>
    <mat-card-title>
        Login
    </mat-card-title>

    <mat-card-content [formGroup]="formGroup" (keydown.enter)="formGroup.valid ? onLogin() : undefined">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </mat-card-content>

    <mat-card-footer>
        <button mat-raised-button color="primary" [disabled]="formGroup.invalid || isLoading" (click)="onLogin()">Login</button>
    </mat-card-footer>
</mat-card>
